<header>
    <div id="header_inner">
        <img src="/img/LOGO-LIBRARY.png">
    </div>

    <nav>
        <ul>
           <a href="/"><li>INÍCIO</li></a>
            <a href="/cadastro"><li>CADASTRO</li></a>
        </ul>
    </nav>
</header> 