*{
    margin:0;
    padding:0;
}

header{
    background-color: #fbba6c ;
    height: 11vh;
    margin-bottom:1.5rem;
}
header div#header_inner{
    display: flex;
    justify-content: center;
    height: 100%;
}
  nav{
      width: 100%;
      background-color: #fbba6c;
}

header nav ul{
    display:flex;
    justify-content: center;
    gap:16px;
    color:#ab6714;
    list-style:none;
    padding-bottom: .2rem;
}

header nav ul a {
    text-decoration: none;
    color:#ab6714;
}
header nav ul a:hover{
    color:#ab6714bd
}

body {
    height:100vh;
    width: 100vw;
    max-width: 100%;
    background-color:#fffdf6 ;
}

main {
    min-height: 100%;
}
section#container_card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:16px;
    gap:16px;

}
section#container_card a{
    text-decoration: none;
    color: #613b0b;
}
section article.cards {
    display: flex;
    height: 400px;
    width: 350px;
    border:1px solid red;
}
article.cards div#card_inner{
    height: 90%;
    width: 90%;
    border:1px solid red;
}
article.cards div#card_inner div.card_img{
    display: flex;
    justify-content: center;
    height: 80%;
}

article.cards div.card_name {
    display: flex;
    justify-content: center;
    height: 10%;
    background-color: #fbba6c;
    border-radius: 8px;
}

article.cards div.card_autor {
    display:flex;
    justify-content: center;
    height: 10%;
    background-color: #fbbb6cd5;
    border-radius:4px;
}

article.cards div#card_inner div.card_img img{
    height: 100%;
}
main section#container_card {
    display:flex;
}

footer{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #fbba6c;
    color:#ab6714;
}










section#details_section {
    display:flex;
    justify-content: center;
    min-height: 100vh;
    border: 1px solid red;
    margin-top:50px;
    margin-bottom: 50px;
    background-color: #fff5bf;
}

section#details_section article#details_main {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(25, 0, 255);
   min-height:100%;
    min-width:100%;
}

section#details_section article#details_main div#details_ div#details_img{
    display: flex;
    justify-content: center;
    width: 40%;
    height: 40%;
    border: 1px solid rgb(25, 0, 255);
}

section#details_section article#details_main div#details_ img{
    width: 20%;
}










form{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
form fieldset#field_main{
    width: 60vw;
    height: 60vh;
}
form fieldset{
    border:none;
    margin:16px;
}

form fieldset#field_main label{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
    color:white;
    border: 2px solid rgb(224, 200, 43);
    background-color: rgb(255, 183, 0);
    border-radius: 8px;
    padding-left: 5px;
  
}

form fieldset#field_main input{
    width:100%;
}

fieldset#field_main legend{
    color:rgb(21, 0, 78);

}

form fieldset#field_main button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(255, 183, 0);;
    color:white;
    border:none;
    margin-bottom: 10px;
    border-radius: 10px;
    margin: 0 auto;
    width:100px;
    height: 30px;
}